<form [formGroup]="cursosForm" (ngSubmit)="onSubmit()" class="grid formgrid" >

    <div class="col-3">
        <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input
            formControlName="name"
            matInput type="text">
        </mat-form-field>
    </div> 
    
    <div class="col-3">
        <mat-form-field class="w-full"> 
            <mat-label>turno</mat-label>
            <input
            formControlName="turno"
            matInput type="text">
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="w-full">
            <mat-label>dias de cursada</mat-label>
            <input
            formControlName="diasCursada"
            matInput type="text">
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="fechaInicio">
            <mat-label>Fecha de inicio</mat-label>
            <input
            formControlName="fechaInicio"
            matInput type="date">
        </mat-form-field>
    </div>

    <div class="col-12 flex justify-content-end">
        <button mat-button color="primary">ENVIAR</button>
    </div>

</form>

<pre>{{cursosForm.value | json}}</pre> 
