<mat-drawer-container class="dashboard-container" autosize>

    <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <mat-nav-list>
    
        <a
            #homeLink="routerLinkActive"
            routerLinkActive
            [activated]="homeLink.isActive"
            routerLink="home"
            mat-list-item>inicio</a>

        <a  
            #userLink="routerLinkActive"
            routerLinkActive
            [activated]="userLink.isActive "
            routerLink="user" mat-list-item>
            usuarios</a>

            <a  
            #cursosLink="routerLinkActive"
            routerLinkActive
            [activated]="cursosLink.isActive "
            routerLink="cursos" mat-list-item>
            cursos</a>

        <a (click)="logOut()" mat-list-item>Cerrar sesion</a> 

    </mat-nav-list>

    </mat-drawer> 

    <div class="example-sidenav-content">
        <mat-toolbar color="primary" >
            <button
            (click)="drawer.toggle()"
            
                mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <!-- clases de primeflex -->
        <div class="p-3">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</mat-drawer-container>

